{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="text-4xl ">My Little Friends</h1>
    <p>An app dedicated to every pets of the entire world...</p>

{% endblock %}
